doctype 5
html
	head
		title Crispy Resize

		link(rel="stylesheet",type="text/css",href="css/style.css")
		
	body
		.wrap
			.img-wrap.js-crispy(data-src="img/lounge.JPG",data-alt="crispy")
				noscript
					img(src="img/lounge.JPG",alt="Crispy")

			.img-wrap.js-crispy(data-src="img/screen.JPG",data-alt="crispy")
				noscript
					img(src="img/screen.JPG",alt="Crispy")

			.img-wrap.js-crispy(data-src="img/table-rug.JPG",data-alt="crispy")
				noscript
					img(src="img/table-rug.JPG",alt="Crispy")

		script(type="text/javascript",src="js/jquery-1.10.2.min.js")
		script(type="text/javascript",src="js/min/smartresize.min.js")	
		script(type="text/javascript",src="js/resize.js")
